---
# Handlers for debian-ipv6-router

- name: reload networking (ifupdown2)
  command: ifreload -a
  register: ifreload_result
  failed_when: "ifreload_result.rc != 0 and 'no changes' not in ifreload_result.stderr"
  changed_when: ifreload_result.rc == 0
  become: yes

- name: restart radvd
  systemd:
    name: radvd
    state: restarted
  become: yes

- name: restart isc-dhcp-server
  systemd:
    name: isc-dhcp-server
    state: restarted
  become: yes