# Configuración SSH para el proyecto Ansible

# Conexión directa al router (jump host)
Host debian-router
    HostName 172.17.25.122
    User ansible
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

# Conexión a ubuntu-pc a través del router
Host ubuntu-pc
    HostName ubuntu-pc
    ProxyCommand ssh -q debian-router -W %h:%p
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null