---
# Handlers para firewall-policy

- name: reload firewalld
  systemd:
    name: firewalld
    state: reloaded
  become: yes

- name: restart firewalld
  systemd:
    name: firewalld
    state: restarted
  become: yes