---
# Role: vmware-router
# Descripción: Crear y aprovisionar VM Debian Router en ESXi con configuración IPv6

- name: Verificar conectividad con ESXi
  community.vmware.vmware_host_facts:
    hostname: "{{ hostvars['esxi-vmware-host']['vcenter_hostname'] }}"
    username: "{{ hostvars['esxi-vmware-host']['vcenter_username'] }}"
    password: "{{ hostvars['esxi-vmware-host']['vcenter_password'] }}"
    validate_certs: "{{ hostvars['esxi-vmware-host']['vcenter_validate_certs'] }}"
  register: esxi_facts
  delegate_to: localhost

- name: Verificar si la VM ya existe
  community.vmware.vmware_guest_info:
    hostname: "{{ hostvars['esxi-vmware-host']['vcenter_hostname'] }}"
    username: "{{ hostvars['esxi-vmware-host']['vcenter_username'] }}"
    password: "{{ hostvars['esxi-vmware-host']['vcenter_password'] }}"
    validate_certs: "{{ hostvars['esxi-vmware-host']['vcenter_validate_certs'] }}"
    datacenter: "{{ hostvars['esxi-vmware-host']['datacenter'] }}"
    name: "{{ vm_name }}"
  register: vm_info
  failed_when: false
  delegate_to: localhost

- name: Marcar existencia de VM
  set_fact:
    vm_exists: "{{ (vm_info is defined) and (vm_info.instance is defined) }}"

- name: Crear VM Debian Router desde ISO
  community.vmware.vmware_guest:
    hostname: "{{ hostvars['esxi-vmware-host']['vcenter_hostname'] }}"
    username: "{{ hostvars['esxi-vmware-host']['vcenter_username'] }}"
    password: "{{ hostvars['esxi-vmware-host']['vcenter_password'] }}"
    validate_certs: "{{ hostvars['esxi-vmware-host']['vcenter_validate_certs'] }}"
    datacenter: "{{ hostvars['esxi-vmware-host']['datacenter'] }}"
    name: "{{ vm_name }}"
    state: present
    folder: "{{ vm_folder }}"
    datastore: "{{ hostvars['esxi-vmware-host']['datastore'] }}"
    guest_id: "{{ guest_id | default('debian11_64Guest') }}"
    hardware:
      memory_mb: 1024
      num_cpus: 1
      scsi: paravirtual
    disk:
      - size_gb: 20
        type: thin
    cdrom:
      - controller_number: 0
        controller_type: ide
        type: iso
        iso_path: "{{ cdrom }}"
        state: present
        unit_number: 0
    networks:
      - name: "{{ networks[0].name }}"
    force: yes
  when: not vm_exists | default(false)
  delegate_to: localhost
  register: vm_facts

- name: Encender VM Router si existe o fue creada
  community.vmware.vmware_guest:
    hostname: "{{ hostvars['esxi-vmware-host']['vcenter_hostname'] }}"
    username: "{{ hostvars['esxi-vmware-host']['vcenter_username'] }}"
    password: "{{ hostvars['esxi-vmware-host']['vcenter_password'] }}"
    validate_certs: "{{ hostvars['esxi-vmware-host']['vcenter_validate_certs'] }}"
    name: "{{ vm_name }}"
    state: poweredon
  delegate_to: localhost

- name: Resumen de creación/reuso
  debug:
    msg:
      - "VM {{ vm_name }} {{ 'reutilizada' if vm_exists | default(false) else 'creada' }}"
      - "Estado: Encendida para instalación desde ISO"
      - "ISO: {{ cdrom }}"
      - "NOTA: La instalación del SO debe completarse manualmente"
      - "Después de instalar, configurar IPv6: {{ networks[0].ipv6_address }}/{{ networks[0].ipv6_prefix }}"
