---
# Playbook: Configurar Nodo de Control
# Descripción: Configura el DNS en la máquina de control para que pueda
#              resolver los hostnames del laboratorio a través del debian-router.
#
# USO: ansible-playbook playbooks/configure_control_node.yml

- name: Configurar DNS en el Nodo de Control
  hosts: localhost
  connection: local
  become: yes

  vars:
    # Definimos aquí las IPs finales para que sea fácil de mantener
    debian_router_ip: "2025:db8:101::1"
    ubuntu_pc_ip: "2025:db8:101::10"

  tasks:
    - name: Añadir hosts del laboratorio al archivo /etc/hosts
      blockinfile:
        path: /etc/hosts
        block: |
          # --- Laboratorio Académico Ansible ---
          {{ debian_router_ip }} debian-router
          {{ ubuntu_pc_ip }}   ubuntu-pc
        marker: "# {mark} ANSIBLE MANAGED BLOCK - LAB"